.App {
  min-height: 100vh;
  background-image: linear-gradient(120deg, #a6c0fe 0%, #f68084 100%);
}

.search-bar, .search-button {
  border: none;
  border-radius: 10px;
}

.search-form, .recipes {
  display: flex;
}

.search-form {
  min-height: 10vh;
  justify-content: center;
  align-items: center;
}

.search-bar {
  width: 50%;
  padding: 10px;
}

.search-button {
  background: #a6c0fe;
  margin-left: 5px;
  padding: 10px 20px;
  color: white;
}

.recipes {
  justify-content: space-around;
  flex-wrap: wrap;
}